$colors: (
	gray: rgb(190, 190, 190),
	white: (base: rgb(255, 255, 255),
		dark: rgb(245, 248, 248),
	),
	black: (base: rgba(0, 0, 0),
		dimmed: rgba(0, 0, 0, 0.7),
	),
	red: (base: red,
		light: rgba(253, 119, 153, 0.541),
		medium: rgb(219, 23, 72),
	),
	purple: (medium: rgb(135, 93, 190),
		dark: rgb(118, 59, 196),
	),
	green: (light: rgb(197, 233, 196),
		medium: rgb(136, 209, 135),
		dark: rgb(71, 150, 69),
	),
	yellow: (light: rgb(243, 250, 139),
		medium: rgb(255, 208, 1),
	),
);